.doctors {
      color: #a77832;
      font-size: 48px;
      font-weight: 700;
      letter-spacing: 1.5px;
      text-decoration: none;

}
.table-margin {
  margin-right: 3%;
}
.font-color {
  color: #000;
}
.fold {
  border: 1px solid grey;
  border-radius: 10px 10px 0 0;
}
.act {
  background-color: #6c6c6c54 !important;
}
.button {
  background-color: #6c6c6c3d !important;
  border: 1px solid #000 !important;
}
.nav-item-add {
  padding-left: 10px;
  padding-right: 10px;
}
.border {
  border: 1px solid grey !important;
}
.thead {
  background-color: #6c6c6c3d;
  text-align: center;
  border: 1px solid grey !important;
}
