<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Список клиентов</title>
    <style>
        p { color:  navy; }
    </style>
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4">Список врачей</span>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a th:href="@{/api/schedule}" class="nav-link">Расписание</a></li>
                <li class="nav-item"><a th:href="@{/api/doctors}" class="nav-link active">Врачи</a></li>
                <li class="nav-item"><a th:href="@{/api/clients}" class="nav-link">Клиенты</a></li>
                <li class="nav-item"><a th:href="@{/api/invoices}" class="nav-link">Счета</a></li>
            </ul>
        </header>
    </div>
    <div class="container">
        <div class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="#" class="btn nav-link">Редактор расписания</a></li>
                <li class="nav-item"><a th:href="@{/api/doctors/add}" class="btn nav-link">Добавить</a></li>
                <li class="nav-item"><a th:href="@{/api/doctors/edit}" class="btn nav-link">Редактировать</a></li>
                <li class="nav-item"><a href="#" class="btn nav-link">Удалить</a></li>
            </ul>
        </div>
    </div>
    <table class="table container table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Second name</th>
            <th scope="col">Patronymic</th>
            <th scope="col">Date of employment</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="doctor: ${doctors}">
            <th scope="row" th:text="${doctor.id}" />
            <td th:text="${doctor.name}" />
            <td th:text="${doctor.secondName}" />
            <td th:text="${doctor.patronymic}" />
            <td th:text="${doctor.dateOfEmployment}" />
        </tr>

        </tbody>
    </table>
</body>
</html>