<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/templates/lib/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/templates/js/utils.js}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Редактирование клиента</title>
    <style>
        p { color:  navy; }
    </style>
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4">Редактирование клиента</span>
            </a>

            <ul th:replace="/templates/include.html :: nav_menu"></ul>
        </header>
    </div>
    <table align="center" class="table container table-striped table-hover">
        <thead>
        <td>
            <form id="edit-form" th:action="@{/api/clients}" method="POST">
                <p hidden><b>ID:</b><br>
                <input hidden type="text" name="id" size="40"></p>
                <p><b>Name:</b><br>
                <input class="form-control" type="text" name="name" size="40"></p>
                <p><b>Second name:</b><br>
                <input class="form-control" type="text" name="secondName" size="40"></p>
                <p><b>Patronymic:</b><br>
                <input class="form-control" type="text" name="patronymic" size="40"></p>
                <p><b>Birth date:</b><br>
                <input class="form-control" type="text" name="birthDate" size="40"></p>
                <p><b>Sex:</b><br>
                <input class="form-control" type="text" name="sex" size="40"></p>
                <input type="submit" class="btn btn-primary" value="Отправить">
            </form>
        </td>
        </thead>
    </table>
</body>

<script th:inline="javascript"> let contextRoot = /*[[@{/}]]*/ ''; </script>

<script>
    listenOnSubmitButton(contextRoot + "api/clients");
</script>

</html>