<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/templates/lib/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/templates/js/utils.js}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Список клиентов</title>
    <style>
        p { color:  navy; }
    </style>
</head>
<body>

    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4">Редактирование врача</span>
            </a>

            <ul th:replace="/templates/include.html :: nav_menu"></ul>
        </header>
    </div>
    <table align="center" class="table container table-striped table-hover">
        <thead>

		<tr th:each="doctor: ${doctor}" th:data-id="${doctor.id}">
		<td>
            <form id="edit-form" th:action="@{/api/doctors}" method="POST">
                <p hidden><b>ID:</b><br>
                <input hidden type="text" name="id" th:value="${doctor.id}" size="40"></p>
                <p><b>Name:</b><br>
                <input class="form-control" type="text" name="name" th:value="${doctor.name}" size="40"></p>
                <p><b>Second name:</b><br>
                <input class="form-control" type="text" name="secondName" th:value="${doctor.secondName}" size="40"></p>
                <p><b>Patronymic:</b><br>
                <input class="form-control" type="text" name="patronymic" th:value="${doctor.patronymic}" size="40"></p>
                <p><b>Date Of Employment:</b><br>
                <input class="form-control" type="date" name="dateOfEmployment" th:value="${doctor.dateOfEmploymentIso}" size="40"></p>
                <p><b>Specialization:</b><br>
                    <select class="form-control form-select" name="specialization">
                        <option th:if="${doctor.id == 0}" disabled selected>-</option>
                        <option th:each="specialization : ${specializations}" th:value="${specialization.getId()}" th:text="${specialization.getName()}"
                                th:selected="${doctor.getSpecialization() == specialization.getId()} ? 'true' : 'false'"></option>
                    </select>
                </p>
                <input type="submit" class="btn btn-primary" value="Отправить">
            </form>
        </td>
		</tr>
        </thead>
    </table>
</body>

<script th:inline="javascript">
    let contextRoot = /*[[@{/}]]*/ '';
</script>

<script>
    listenOnSubmitButton(contextRoot + "api/doctors");
</script>

</html>