<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script th:src="@{/templates/lib/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/templates/js/utils.js}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link th:href="@{/templates/styles/style.css}" rel="stylesheet">
    <meta charset="utf-8">
    <title>Расписание врача</title>
</head>
<body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4">Расписание клиники</span>
            </a>

            <ul th:replace="/templates/include.html :: nav_menu"></ul>
        </header>
    </div>

    <div class="container">
        <label><b>Клиент:</b></label>
        <select id="client-select" class="form-control form-select" name="client-select">
            <option th:each="currentClient : ${clients}" th:value="${currentClient.id}"
                    th:text="${currentClient.name + ' ' + currentClient.secondName + ' ' + currentClient.patronymic}"
                    th:selected="${currentClient.id == clientId} ? 'true' : 'false'"></option>
        </select>
    </div>

    <table class="table container table-hover">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"> <a th:href="'?clientId=' + ${clientId} + '&dayOffset=' + (${dayOffset} - 1)"> <<< </a> </th>
            <th scope="col" th:text="${currentDate}"></th>
            <th scope="col"> <a th:href="'?clientId=' + ${clientId} + '&dayOffset=' + (${dayOffset} + 1)"> >>> </a> </th>
        </tr>

        <tr>
            <th scope="col">Время</th>
            <div th:each="doctor : ${doctorList}">
                <th scope="col" th:text="${doctor.secondName}" />
            </div>
        </tr>
        </thead>
        <tbody>
            <tr th:each="timeRange: ${timeRangeList}" class="clickable-row">
                <th scope="row" th:text="${timeRange.start} + ' - ' + ${timeRange.stop}" />
                <div th:each="schedule : ${scheduleList}">
                    <td class="schedule-cell"
                        th:data-schedule-cell-type=${schedule.get(timeRange.id).scheduleCellType}
                        th:data-doctor-id="${schedule.get(timeRange.id).doctor.id}"
                        th:data-time-range="${timeRange.id}" />
                </div>
            </tr>
        </tbody>

    </table>

</body>

<script th:inline="javascript">
    let contextRoot = /*[[@{/}]]*/ '';
    let dayOffset = /*[[${dayOffset}]]*/ '';
</script>

<script>
    let takeCellClass = function (scheduleCellType) {
        switch (scheduleCellType) {
            case 'NOT_WORK': return 'not-work-cell';
            case 'FREE_RECORD': return 'free-record-cell';
            case 'ANY_RECORD': return 'any-record-cell';
            case 'MY_RECORD': return 'my-record-cell';
        }
    };

    let takeCellContent = function (scheduleCellType) {
        switch (scheduleCellType) {
            case 'NOT_WORK': return 'нет приёма';
            case 'FREE_RECORD': return '<a href="#">записать</a>';
            case 'ANY_RECORD': return 'занято';
            case 'MY_RECORD': return '<a href="#">принять</a>/<a href="#">отменить</a>';
        }
    };

    $('.schedule-cell').each(function() {
        $(this).addClass(takeCellClass(this.dataset.scheduleCellType));
        $(this).html(takeCellContent(this.dataset.scheduleCellType));
    });

    changeOnSwitchClient(contextRoot + "api/schedule", dayOffset);

</script>
</html>