.active-row {
    background-color: #a9f0ff !important;
}

a #delete-button.disabled {
    color: gray;
    pointer-events: none;
}

.working-time {
    border: solid black 2px !important;
    background-color: darkblue !important;
}

tr,th {
    text-align: center !important;
}

.date-line {
    padding-bottom: 0  !important;
}

.not-work-cell {
    border: solid black 1px !important;
    background-color: #f1f1f1 !important;
}

.free-record-cell {
    border: solid black 1px !important;
    background-color: #cce6cc !important;
}

.any-record-cell {
    border: solid black 1px !important;
    background-color: #cac8c8 !important;
}

.my-record-cell {
    border: solid black 1px !important;
    background-color: #abe4ab !important;
}