.active-row {
    background-color: #a9f0ff !important;
}

a #delete-button.disabled {
    color: gray;
    pointer-events: none;
}

.working-time {
    border: solid black 2px !important;
    background-color: darkblue !important;
}